
@{
    Layout = null;
}
<footer>
    <div class="pull-right">
        Easy Cash - Kullanıcı Paneli <a href="https://colorlib.com">EasyCash hakları saklıdır</a>
    </div>
    <div class="clearfix"></div>
</footer>