@model ConfirmMailViewModel

@{
    Layout = null;
}

<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />

<div class="container">
<form method="post">
        <label>Kullanıcı Mail Adresi</label>
        <input type="text" class="form-control" asp-for="Mail" value="@ViewBag.v"/>
    <label>Mail Adresinize Gelen 6 Haneli Kodu Girin</label>
    <input type="text" class="form-control" asp-for="ConfirmCode"/>
    <br />
    <button class="btn btn-outline-primary">Gönder</button>
</form>
</div>